/UnitTestingUsingXunit/packages
/UnitTestingUsingXunit/DemoLibrary.Tests/obj
/UnitTestingUsingXunit/DemoLibrary.Tests/bin
/UnitTestingUsingXunit/DemoLibrary/obj
/UnitTestingUsingXunit/DemoLibrary/bin
/UnitTestingUsingXunit/WinFormUI/obj
/UnitTestingUsingXunit/WinFormUI/bin
